<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- Pestaña de intercambio de libros -->
      <ion-tab-button tab="intercambio-libros" routerLink="/intercambio-libros">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Libros</ion-label>
      </ion-tab-button>

      <!-- Pestaña de gestión de grupos -->
      <ion-tab-button tab="gestion-grupos" routerLink="/gestion-grupos">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Grupos</ion-label>
      </ion-tab-button>

      <!-- Pestaña de tutorías entre pares -->
      <ion-tab-button tab="tutorias-pares" routerLink="/tutorias-pares">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Tutorías</ion-label>
      </ion-tab-button>

      <!-- Pestaña de préstamos -->
      <ion-tab-button tab="prestamos-equipos" routerLink="/prestamos-equipos">
        <ion-icon name="laptop-outline"></ion-icon>
        <ion-label>Préstamos</ion-label>
      </ion-tab-button>

      <!-- Pestaña de autenticación -->
      <ion-tab-button *ngIf="!isAuthenticated; else logoutOptions" tab="login" (click)="navigateToLogin()">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>

      <!-- Pestaña de cerrar sesión (si el usuario está autenticado) -->
      <ng-template #logoutOptions>
        <ion-tab-button tab="perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>        
      </ng-template>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
