<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/prestamos-equipos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="equipo">
    <ion-card-header>
      <ion-card-title>{{ equipo.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ equipo.tipo }} - {{ equipo.marca }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Memoria:</strong> {{ equipo.memoria }}</p>
      <p><strong>RAM:</strong> {{ equipo.ram }}</p>
      <p><strong>Estado:</strong> {{ equipo.estado }}</p>
      <p><strong>Contacto:</strong> {{ equipo.contacto }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none">
    <ion-label color="primary">
      <h3>Para solicitar el equipo, contactarse con el usuario.</h3>
    </ion-label>
  </ion-item>
</ion-content>
