<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" name="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" name="usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrarse</ion-button>
  </form>

  <!-- Mensaje de éxito -->
  <ion-text color="success" *ngIf="successMessage">{{ successMessage }}</ion-text>

  <!-- Mensaje de error -->
  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

</ion-content>
